/*FAQ CSS page :) */

/*css for header starts here */
.jumbotron {
  background-image: url('https://www.vvob.org/sites/belgium/files/styles/780pxx330px/public/images/mainimagebig/_bec4693_0.jpg?itok=c5WmaEos');
  background-size: contain;
  margin-bottom: 0;
}

#container1 {
  padding: 5px;
}
.headerLinks{
  display: flex;
  flex-direction: row;
}

.searchbar {
  margin-left: 270px;
}

.logo {max-width: 25%;}

/* CSS for header ends here */

/*css for FAQ starts here*/
html, body {
  font-family: Arial, Helvetica, sans-serif;
  height:100%;
  /* background-color: #fcf6e7; */
  margin: 0;
}

#FAQ {
  text-align: center;
  color:black; 
   
}

details {
border: 1px solid color #fffdf6;    
padding: .75em .75em 0;
margin-top: 10px;
box-shadow:0 0 20px #d4d4d4;
border: 1px solid black;
box-shadow: 5px 5px #2196f3;
width: 100%
}

#faqContainer {display: flex;
justify-content: center;
align-items: center;
}

summary {	
  font-weight: bold;
  margin: -.75em -.75em 0;
  padding: .75em;
  background-color:rgb(255, 253, 246);
  color: black;

}

/* details {

} */

details[open] {
  padding: .75em;
  border-bottom: 1px solid #d4d4d4;
}

details[open] summary {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 10px;
}
.p { color:black}
/*css for FAQ ends here*/


/* COPY FOOTER CSS FROM HERE! */

/* NEW FOOTER CSS */
/* .footer .container {
  padding: 60px;
} */

h5 {
  padding-top: 20px ;
}

.homeFooter {
  margin-top: 20px;

}

.contactFooter {
  margin-top: 20px;

  
}

.aboutFooter {
  margin-top: 20px;
 
}

.fa{
margin-top: 15px;
padding: 10px;
}

.contactusText{
  width: 60px;
}
/* COPY FOOTER CSS UNTIL HERE! */