
  a{
    color:white;
    text-decoration: none;
  }
  .logo {
    max-width: 25%;
  }  
  
 
 
  .about {
    background: #053a66;
    flex-grow: 1;
  }
  
  .events{
    background: #053a66;
    flex-grow: 1;
  }
  .faq{
    background: #053a66;
    flex-grow: 1;
  }
  .contact{
    background: #053a66;
    flex-grow: 1;
  }
  
 
  
  .bottomnavbar{
    display: flex;
    justify-content: center;
  
  }
  


html, body {
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    /* background-color: #fcf6e7; */
    margin: 0;
}


footer{
  
    display: flex;
    color: white;
    min-height:25vh;
    width: 100%;
    background-color:#053a66;
    justify-content: space-between;

}

#page-container {
  position: relative;
  min-height: 10vh;
}



.EducationArticle{
    display: flex;
    justify-content: end;

}

.SportArticle{
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;

}


.ExtraMuralArticle{
  display: flex;
  justify-content:end;

}

.EducationArticle img{
  width: 200px;
  height:150px;
    
}

.SportArticle img{
  width: 200px;
  height:150px;
    
}



.ExtraMuralArticle img{
  width:200px;
  height:150px;
}


.socialMediaImg{
    margin-right: 200px;
}

.twitterlogo{
    height:20px;
    width:40px;
    
}
.facebooklogo{
    height:20px;
    width:40px;
    margin-right:20px;
}


/* COPY FOOTER CSS FROM HERE! */

/* NEW FOOTER CSS */
/* .footer .container {
  padding: 60px;
} */

h5 {
  padding-top: 20px ;
}

.homeFooter {
  margin-top: 20px;
  /* margin-left: 10px; */
}

.contactFooter {
  margin-top: 20px;
  margin-left: 35px;
  
}

.aboutFooter {
  margin-top: 20px;
  margin-left: 35px;
}

.fa{
margin-top: 15px;
padding: 10px;
}



/* COPY FOOTER CSS UNTIL HERE! */


.jumbotron{
 background-image: url("/images/header\ new\ new.jpg");
  background-size: cover;
  opacity: 0.8;

  margin-bottom: 0;
}
.container{
  padding: 5px;
}
.headerLinks{
  display: flex;
  flex-direction: row;
}

footer{
  background-color: #053a66;
}

/* @media (min-width: 992px){
  footer{
      position:absolute;
      right: 0;
      bottom: 0;
      left: 0;
  }
} */

.searchbar{
  margin-left: 270px;
}
