html, body {
    height:100%;
    background-color: #fcf6e7;
    margin-left: 0;
    margin-bottom:0;
}

p{
    max-width:900px;
}

footer{
    display: flex;
    color: white;
    height:39px;
    background-color:black;
    justify-content: space-between;
}

.container
{
    
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}

.education{
    display: flex;

  
}

.sports{
    display: flex;
    flex-direction: row-reverse;
}



.artsMurals{
    display: flex;
    
}

.article
{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
}

.EducationImg{
    width:px;
    height:200px;
    box-shadow: 5px 5px black;
    /* margin: 20px 20px; */
}

.SportImg{
    height:200px;;
    flex-direction: row-reverse;
    box-shadow: 5px 5px black;
}


.ExtraMuralImg{
    width:250px;
    height:200px;
    box-shadow: 5px 5px black;
}

.socialMediaImg{
    margin-right: 200px;
}

.twitterlogo{
    height:20px;
    width:40px;
    
}
.facebooklogo{
    height:20px;
    width:40px;
    margin-right:20px;
}

.toptext{
    width:500px;
    margin-right: 300px;
}

.middletext{
    width:500px;
    margin-left: 300px;
}

.bottomtext{
    width:500px;
    margin-right: 300px;
}

.bottommargin{
    margin-bottom: 100px;
}

footer div{
    align-self:center;
}


/* nav */
ody{
    margin-top: 0;
    margin-left:0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    color: white ;
    align-items: center;
    margin-left: 40%;
  
  }
  
  .background_img {
    height: 340px;
      margin: 0px;
      padding: 70px;
      background-image: url('https://www.vvob.org/sites/belgium/files/styles/780pxx330px/public/images/mainimagebig/_bec4693_0.jpg?itok=c5WmaEos') ; 
      background-size: cover ;
  
  }
  
  .logo {
    background: url("https://o.remove.bg/downloads/0206abbb-08be-4667-9bce-010f3a8aed05/download-removebg-preview.png");
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 144px;
    opacity: 0,5;
    
  
  }
  
  
  .h1 {text-align: center;
  
  }
  
  .container {
    display: flex;
    flex-direction: column;
    
  }
  .about {
    background: #053a66;
    flex-grow: 1;
    
  }
  
  .events{
    background: #053a66;
    flex-grow: 1;
    
   
  }
  .faq{
    background: #053a66;
    flex-grow: 1;
    
    
  
  }
  .contact{
    background: #053a66;
    flex-grow: 1;
   
    
  
  }
  
  .container > div {
    
    font-size: medium;
    color: white;
    padding: 0%;
    border-width: 5px;
    
   
  }
  
  
  .bottomnavbar{
    display: flex;
    justify-content: center;
  
  }
  
  .container:nth-of-type(0){
    color: white;
  }

  /* flex nav */
  .flex-container {
    display: flex;
    flex-direction: column;
 
  }
  
  .flex-container > div {
   
    text-align: center;
  
    font-size: 15px;
  }